---
layout: default
title: Projects
permalink: /projects/
---
<h1>Projects</h1>

<div class="projects">
  {%- assign sorted_projects = site.data.projects -%}
  {%- for project in sorted_projects -%}
  <div class="row">
    <div class="{% if project.image %}col-sm-7{% else %}col-sm-12{% endif %}">
      <h2 class="title">
        {%- if project.status == "active" and project.url -%}<a href="{{ project.url }}">{{ project.name }}</a>
        {%- else -%}{{ project.name }}
        {%- endif -%}
      </h2>
      <small>
        {%- if project.publish-date -%} Published on: <span itemprop="datePublished">{{ project.publish-date }}</span> | {%- endif -%}
      </small>
        <span class="badge {% if project.status == "inactive" %} badge-danger
          {% elsif project.status == "in development" %} badge-default
          {% else %} badge-success
          {% endif %}">{{ project.status | capitalize }}</span>
        {%- if project.description -%}
        <p class="">{{ project.description }}</p>
        {%- endif -%}
        {%- if project.repo -%}
        <a href="https://github.com/{{ site.github_username }}/{{ project.repo }}">Github Repo</a>
        {%- endif -%}
      </div>
    {%- if project.image -%}
    <div class="col-sm-5">
      <img class="site" alt="{{ project.img-alt }}" src="{{ site.img_dir | append: project.image | relative_url }}">
    </div>
    {%- endif -%}
  </div>
  {%- if forloop.last == false -%}<hr>{%- endif -%}
  {%- endfor -%}
</div>


