{%- for edition in site.data.weeklylinks.editions -%}
{%- if edition.editionid == page.meta.editionid -%}  
{%- for item in edition.items -%}  
<h2><a href="{{ item.url }}">{{ item.title }}</a>
{%- if item.outlet -%}
<em><span style="font-size: smaller;"> - {{ item.outlet }}</span></em>
{%- endif -%}
</h2>  
{%- if item.youtube -%}
{%- include youtubePlayer.html id=item.youtube -%}
{%- endif -%}

{% if item.siteimg %}
<img style="margin-bottom: 15px" alt="{{ item.imgalt }}" src="{{ site.img_dir | append: item.siteimg | relative_url }}"> 
{% endif %}

{% if item.imglink %}
<img style="margin-bottom: 15px" alt="{{ item.imgalt }}" src="{{ item.imglink }}">
{% endif %}

<p>
    <strong>tl;dr</strong>
    <br>
    {{ item.tldr }}
</p>
{%- if forloop.last == false -%}<hr>{%- endif -%}
{%- endfor -%}  
{%- endif -%}
{%- endfor -%} 
